.link_login {
  background: #a57c59;
  border-radius: 10px;
  height: 70% !important;
  padding: 0 !important;
  margin: 0 3% !important;
}
.header_logo_visit_login {
  color: white !important;
}
