* {
  padding: 0;
  margin: 0;
}

.currentComment {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 2%;
  margin-left: 30px;
  display: flex;
  border-bottom: 1px solid rgba(180, 178, 178, 0.616);
  // border-radius: 10px;
  border-top: 1px solid rgba(180, 178, 178, 0.616);

  width: 60%;
  &_avatar {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  &_user {
    padding: 10px;
    &_desc {
      padding-left: 20px;
      padding-bottom: 10px;
    }
    p {
      margin: 10px !important;
      padding-bottom: 10px;
      padding-left: 10px;
    }
  }
}
